$col_gray1 : #f4f6f7;
$col_gray2 : #5f727f;
$col_lightblue:#33ccff;

@media (min-width: 1200px){
.container{max-width: 1170px !important; padding: 0px !important;}

}
.container-fluid{padding-right: 0px !important;padding-left: 0px !important;}

/*--------all--------*/
.fnt-0-8{font-size: 0.8em !important;}
.fnt-0-9{font-size: 0.9em !important;}
.fnt-1-2{font-size: 1.2em !important;}
.fnt-1-7{font-size: 1.7em !important;}
.fnt-2-7{font-size: 2.7em !important;}
.fnt-w4{font-weight:400}
.fnt-w5{font-weight:500}
.ul-none{list-style-type: none !important;}
.a-none:hover{text-decoration: none;cursor: pointer;}
.a-blue{color:$col_lightblue !important;}
.a-blue:hover{color:black !important;}
/*-----top------*/

.top-list-item,.white-item-top,.top-search,.shoping-cart{
	color:white !important;
	font-size: 0.9em;
}
.top-list-item:hover,.white-item-top:hover,.shoping-cart:hover{
	color:#428bca;
	cursor: pointer;
}

.white-item-top{
	font-weight: 700;
}

.bottom-line{
	display: inline-block;
}
.bottom-line::after{
	content: '';
	display: block;
	width: 0;
	height: 0.2em;
	transition: width .5s;
}
.bottom-line:hover::after{
	width: 100%;
	background-color: $col_lightblue;
}
#intro-cate,#top-slider{
	width: 100%;
	position: relative;
	overflow: hidden;
}
#intro-cate{
	padding-top: 30%;
	.intro-cate-content{
		position: absolute;top: 0;left: 0;bottom: 0;right: 0;
		background-color: red;
		img{
			width: 100%;filter: brightness(0.5);
		}
		.intro-cate-text{
			width: 100%;position: absolute;
			bottom:20%;
			vertical-align: middle; align-items:center;
		}
		.home-link{
			position: absolute;
			width: 100%;
			bottom: 1em;
			.home-link-items{
				color: white !important;
				//font-size: 1vw;
			}
			.home-link-items:hover,
			.home-link-items-active{
				color: $col_lightblue !important;
				font-style: italic;
			}
		}
	}
}

#top-slider{
	padding-top: 50%;
	.top-slider-item{display: none;}
	.top-slider-item-active{
		position: absolute;
		top: 0;left: 0;bottom: 0;right: 0;
		img{width: 100%;filter: brightness(0.5);}
		.top-slider-text{
			width: 100%;
			position: absolute;top: 30%;
			vertical-align: middle; align-items:center;
		}
	}
}
//.top-search{display: none;}
.top-search::before{
	font-family: FontAwesome;
	content: '\f002';
}
.top-close::before{
	font-family: FontAwesome;
	content: '\f00d';
}
#mini-search{
	right:0;
	
	max-width: 100%;
	position: absolute;
	margin-top: 0.5em;
}
@media (max-width: 1200px){
	.top-menu-fixed{background-color: black !important;}
	.top-search{display: none !important;}
	#mini-search{margin-top: 1em;display: block;margin-top: 0em !important;position:static !important;}
	
}
.cart-cate-par{
	max-height: 20em;
	overflow-y: auto;
}
.cart-item{
		.cart-cate-img{
			width: 4em;
			height: 4em;
			margin-right: 1em;
			overflow: hidden;
			img{width: 100%}
		}
		.cart-cate-info{
			width: 100%;
		}
	}
.btn-buy,.btn-favourite{
	font-weight: 600 !important;
}
.btn-buy::before{
	font-family: FontAwesome;
	content:'\f07a';
	margin-right: 0.5em;
}
.btn-favourite::before{
	font-family: FontAwesome;
	content:'\f004';
	margin-right: 0.5em;
}
/*---main----------*/
.dress-box{
	width: 100%;
	height: 20em;
	overflow: hidden;
	position: relative;
	.dress-content{
		width: 100%;
		img{
			transition: transform .5s;
			width: 140%;
		}
	}
	.dress-text{
		position: absolute;
		top: 40%;
		width: 60%;
		background-color:rgba(0, 0, 0, 0.5);
		height:4.5em;line-height: 4.5em;
		text-align: center;
		transition: width .5s;
	}
	
}
.dress-box:hover{
	.dress-content{
		filter: brightness(50%);
		img{
			transform: scale(1.2);
		}
	}
	.dress-text
	{
		width:100%;
	}
}
.flex-box{
	display: flex;
 	flex-wrap: wrap;
  	justify-content: center;
}
.denims-box{
	width: 100%;
	height: 20em;
	position: relative;
	overflow: hidden;
	border:0;
	&::before,&::after{
		box-sizing: inherit;
		content: '';
		position: absolute;width: 100%;height:100%;
	}
	.denims-content{
		width: 100%;
		filter: brightness(50%);
		img{
			transition: transform .5s;
			width: 120%;
		}
	}
	.denims-text{
		position: absolute;
		top: 40%;
		width: 100%;
		background-color:rgba(0, 0, 0, 0.5);
		height:4.5em;
		text-align: center;
		transition: opacity .5s;

	}
}
.draw{
	transition: color .25s;
	&::after,
	&::before{
		border: 0.1em solid transparent;
		width: 0;
		height: 0;
		z-index: 10;
	}
	&::before{
		top:0; left:0;
	}
	&::after{
		bottom: 0;right:0;
	}
	&:hover::before,
	&:hover::after{
		width: 100%;height: 100%;
	}
	&:hover::before{
		border-top-color: $col_lightblue;
		border-right-color: $col_lightblue;
		transition:
		width .25s ease-out,
		height .25s ease-out .25s; 
	}
	&:hover::after{
		border-bottom-color: $col_lightblue;
		border-left-color: $col_lightblue;
		transition:
		border-color 0s ease 0.5s,
		width .25s ease-out .5s,
		height .25s ease-out .75s;
	}
}
.denims-box:hover{
	.denims-content{
		filter: brightness(100%);
		img{transform: scale(1.2);}
	}
	.denims-text{
		opacity: 0;
	}
}

.cate-box{
	width: 100%;
	//height: 25em;
	position: relative;
	overflow: hidden;
	border:0.05em solid #ccd3d6;
	.cate-content{
		width: 100%;
		height: 20em;
		overflow: hidden;
		img{transition: transform .5s;width: 120%;}
	}
	.view-cate{
		position: absolute;
		background-color: $col_lightblue;
		//text-align: center;
		//vertical-align: middle;
		//display: flex; align-items: center; justify-content: center;
		height: 2.5em;
		width: 100%;
		bottom:27%;
		transform: translateX(100%);
		transition: transform .5s;
		span{color: white;}
	}
	.cate-text{
		position: absolute;
		bottom: 0;
		height:5.5em;
		width: 100%;
		background-color:#4d4d4d;
		text-align: center;
		
		.cate-like{
			color:white;
		}
		.cate-like:hover{
			cursor: pointer;
			color: $col_lightblue;
		}
	}
}
.cate-saleoff{
		position: absolute;
		top:10%;
		width: 3.5em;
		height: 3.5em;
		line-height: 3.5em;
		color:white;
		right: -0.5em;
		border-radius: 50%;
		background-color: #f44336;
	}
.cate-new{
		position: absolute;
		top:10%;
		width: 3.5em;
		height: 3.5em;
		line-height: 3.5em;
		color:white;
		right: -0.5em;
		border-radius: 50%;
		background-color: #393d50;
	}
.cate-box:hover{
	.cate-content{
		filter: brightness(50%);
		img{transform: scale(1.2);}
	}
	.view-cate{
		transform: translateX(0%);
		cursor: pointer;
	}
}
.dolor-box{
	width: 100%;
	height: 30em;
	overflow: hidden;
	background-color: #bedce4;
	img{width: 100%;height: auto;}
}
.ship-box{
	width: 100%;
	height: 18em;
	overflow: hidden;
	position: relative;
	.ship-content{
		width: 100%;
		img{transition: transform .5s;width: 140%;
		}
	}
	.ship-text{
		position: absolute;
		top: 0%;
		width: 100%;
		background-color:rgba(0, 0, 0, 0.5);
		height:100%;
		text-align: center;
		transition: width .5s;
	}	
}
.sale-box{
	height: 30em;
	img{
		max-width: 100%;
		height: 100%;
	}
}
.special-offer{
	width: 100%;
	padding-top: 40%;
	position: relative;
	overflow: hidden;
	.offer-content{
		position: absolute;
		top: 0;left: 0;bottom: 0;right: 0;
		img{width: 100%;filter: brightness(0.5);}	
	}
	.offer-text{
		width: 100%;
		position: absolute;top: 0%;
		vertical-align: middle; align-items:center;
		span{color: white;}
	}
}
.news-box{
	background-color: $col_gray1;
	.news-content{
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 12em;
		overflow: hidden;
		img{
			width: 100%;
		}
		.news-share{
			position: absolute;
			bottom:0;
			left:100%;
			background-color: #b3ffff;
			height:2em;
			width: 100%;
			transition: left .5s;
		}
		.news-share:hover{
			cursor: pointer;
		}
	}
	.news-content:hover{
		img{filter: brightness(50%);}
		.news-share{
			left: 0%;
		}
	}
	.news-like{
		display: flex;
	}
	.news-text{
		overflow: hidden;
		text-overflow: ellipsis;
		height: 12em;
	}
	.news-read{
		
		height: 5em;
	}
}
.cate-type-menu{
	border: 0.05em solid $col_gray1;
	.cate-type-items,.cate-type-par{
		width: 100%;
	}
	.cate-type-par{
		border-bottom:0.05em solid $col_gray1;
		.cate-type-items{
			background-color: $col_gray1;
			border-top: 0.05em solid $col_gray1;
		}
	}
}
#our-brand{
	background-color: $col_gray1;
}
.brand-items{
	width: 100%;
	height: 15em;
	img{
		width: 100%;
	}
}
.brand-items:hover{
	background-color: white;
}
#footer-page{
	background-color: #212331;
	.email-subcribe{
		width: 50%;
	}
}
#end-page{
	background-color: #181828;
}
@keyframes slideFromLeft{
	0%{
		display: absolute;
		transform: translateX(-100%);opacity: 0;
	}
	100%{
		display: block;
		transform: translateX(0);opacity: 1;
	}
}
@keyframes slideFromRight{
	0%{display: absolute;
		transform: translateX(150%);opacity: 0;
	}
	100%{display: block;
		transform: translateX(0);opacity: 1;
	}
}
@keyframes slideFromBottom{
	0%{display: absolute;
		transform: translateY(100%);opacity: 0;
	}
	100%{display: block;
		transform: translateY(0);opacity: 1;
	}
}
.slide-left,.slide-right,.slide-bottom{opacity: 0;}
.ani-slideFromLeft{
	animation: 1s ease-out 0s 1 slideFromLeft;
	opacity: 1 !important;
}
.ani-slideFromRight{
	animation: 1s ease-out 0s 1 slideFromRight;opacity: 1 !important;
}
.ani-slideFromBottom{
	animation: 1s ease-out 0s 1 slideFromBottom;opacity: 1 !important;
}

.tileset{
	tranform:translateX(-50%) rotate(-10deg);
	display: block;
}
@media (min-width: 1200px){
	.dropdown:hover{
		>.dropdown-menu{
			display: block !important;
		}
	}
	.drop-right{right:0 !important;}
	#mini-search{min-width:40em;};
}
.dropdown-menu-lg-right{
	min-width: 30em !important;
	right:10% !important;
}
.dropdown-menu{
	border-radius: 0em !important;
	background-color: #f2f2f2 !important;
	.dropdown-item{
		font-weight: 500;
		border-bottom: 0.05em solid #d9d9d9; 
	}
	.dropdown-item:hover{
		background-color: white !important;
		border-left:0.3em solid  $col_lightblue;
		padding-left: 0.5em;
	}
}
.dropdown-type{
	background-color: #f2f2f2;
	.dropdown-item{
		position: relative;
		color:$col_gray2 !important;
		font-weight: 400;
		border-top: 0.05em solid #d9d9d9;
	}
	.dropdown-item::before{
		font-family: FontAwesome;
		content: '\f0c8';
		margin-right: 1em;
		font-size: 0.5em;
	}
	.dropdown-item:hover{
		cursor: pointer;
		color:$col_lightblue !important;
		background-color: white !important;
		border-right:0.2em solid  $col_lightblue;
		padding-left: 0.5em;
	}
}
.product-tags{
	background: #eee;
	color: #999;
  	border-radius: 0.2em 0 0 0.2em;
  	display: inline-block;
  	height: 1.5em;
  	line-height: 1.5em;
  	padding: 0 1.5em 0 1.5em;
  	position: relative;
  	margin: 0 10px 10px 0;
  	text-decoration: none;
}
.product-tags::before {
  	background: #fff;
 	border-radius: 10px;
  	content: '';
  	height: 6px;
  	left: 10px;
  	position: absolute;
  	width: 6px;
  	top: 40%;
}
.product-tags::after {
  background: #fff;
  border-bottom: 0.75em solid transparent;
  border-left: 0.75em solid #eee;
  border-top: 0.75em solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.product-tags:hover {
  background-color: crimson;
  color: white;
}

.product-tags:hover::after {
   border-left-color: crimson; 
}
#sale-product{
	background-color: $col_gray1;
}
.show-modal{
	position: absolute;
	//z-index: 90;
}
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 80% !important;
    }}

.modal-dialog{
	.modal-content{
		.modal-body{
			height: auto;
			min-height: 38em;
			position: relative;
			.btn-close-modal{
				position: absolute;
				top:10;right: 10;
			}
			.cate-review-img{
				width: 100%;
				height: 25em;
				overflow: hidden;
				img{width: 100%;}
			}
			.cate-review-slider{
				width: 100%;overflow-x: auto;
				height:8em;display: flex;
				.cate-review-slider-item{
					width: 6em;
					height: 6em;
					flex-shrink: 0;
					margin-right: 0.5em;
					overflow: hidden;
					border: 0.05em solid #ccc;
					img{width: 100%;}
				}
			}
			.cate-des{
				overflow: hidden;
				height: 9em;
				width: 100%;
				position: relative;
			}
		}
	}
}
.cate-detail{
	.cate-detail-body{
		.cate-detail-img-par{
			.cate-detail-img{
				width: 100%;
				height: 25em;
				overflow: hidden;
				img{width: 100%;}
			}
			.cate-detail-slider{
				width: 100%;overflow-x: auto;
				height:8em;display: flex;
				.cate-detail-slider-item{
					width: 6em;
					height: 6em;
					flex-shrink: 0;
					margin-right: 0.5em;
					overflow: hidden;
					border: 0.05em solid #ccc;
					img{width: 100%;}
				}
			}
		}
		.cate-detail-describe{
			overflow: hidden;
			height: 9em;
			width: 100%;
			position: relative;
		}
	}	
}

.detail-tab{
	font-size: 1.2em;
}
.detail-tab-active.active{
	font-size: 1.2em;
	font-weight: 700;
}
#cate-detail-cmt{
	.comment-avatar{
		width: 4em;
		height: 4em;
		//border: 0.05em solid $col_gray2;
		border-radius: 1em;
		margin-right: 0.5em;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.comment-body{
		.comment-header{
			.comment-name,.comment-dmy{
				font-size: 1.1em;
				font-weight: 600;
			}
		}
		.comment-text{
			min-height:2em;
			p{
				font-size: 0.9em;
				color: $col_gray2;
			}
		}
	}
}


.form-group{
	margin-bottom: 0 !important;
	.form-control{
		min-width: 8em !important;
	}
}
.opt-custom{
	outline: 0 !important;
	
}
.pagination{
		margin-bottom:0 !important;
}
.txt-cost-color-size{
	letter-spacing: 0.1em;
	font-weight: 700;
	font-size: 1.3em;
}
.cate-relate-par{
	width: 100%;
	overflow-x: auto;
	.cate-relate-items{
		width: 100%;
		//height: 10em
		.cate-relate-img{
			width: 100%;
			height: 10em;
			overflow:hidden;
			img{
				width: 100%
			}
		}
		.cate-relate-text{
			.cate-relate-name{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: $col_gray2 !important;
			}
			.cate-relate-name,.cate-relate-cost{
				width: 100%;
				font-weight: 700;
				
			}
		}
	}
}
.cate-cost::before{
	font-family: FontAwesome;
	content: '\f155';
	margin-right: 0.2em;
}
.text-wrap-ellip{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cate-relate-items:hover{
	box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.2em 1em 0 rgba(0, 0, 0, 0.19);
}
.post-author,.post-times,.post-tittle{
	font-weight: 600;
	color: $col_gray2;
}
.post-tittle{
	font-size:2em;
}
.post-author::after{
	content: '';
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-right: 0.05em solid $col_gray2;
}
.post-img{
	width: 100%;
	max-height: 22em;
	min-height: 15em;
	overflow:hidden;
	img{
		width: 100%;
	}
}
.feature-right::before{
	font-family: FontAwesome;
	content: '\f0da';
	margin-right: 1em;
}